@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-border {
  border-bottom: 2px;
  border-color: transparent;
  border-style: solid;
}

.gradient-border:hover {
  border-bottom: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #6F79BB, #F2674F) 1;
}

